/* Chart specific styles only */
/* See https://github.com/LearnBoost/stylus for syntax */

/* non-leaf circle vertices */
g.node circle
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 2px;

/* diamond leaf vertices */
.node path
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 2px;

path.link
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;

